<<<<<<< HEAD
=======
<div class="container-fluid">
  <div class="col-sm-12 col-md-6" >
    <%=image_tag("drew.jpg", class: 'drew-image center-block') %>  
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="drew-content">
      <p>
        Lorizzle ipsizzle dolizzle ghetto amizzle, check out this adipiscing elit. Boom shackalack pimpin' velit, aliquet volutpizzle, fo quis, gravida vizzle, arcu. Pellentesque fo pizzle. Sed erizzle. Fusce break it down bow wow wow dapibus shizzle my nizzle crocodizzle tempus tempor. Maurizzle pellentesque fizzle et turpizzle. Vestibulum tellivizzle yo mamma. Pellentesque fo shizzle my nizzle rhoncizzle nisi. Funky fresh hac habitasse platea dictumst. Fo shizzle dapibizzle. Fizzle tellizzle urna, pretizzle gizzle, mattizzle gangster, eleifend vitae, nunc. Black suscipizzle. Integizzle semper velit boom shackalack bizzle.
      </p>
      <p>
        Sizzle sizzle tortizzle arcu shit consequat. Get down get down own yo', arcu ac brizzle break yo neck, yall, ass lorizzle luctizzle pede, a shiz dang dolizzle funky fresh check it out. ac gangsta my shizz elit pizzle tincidunt. Fo shizzle my nizzle the bizzle nisi, pulvinar izzle, porta eleifend, tincidunt in, metizzle. Nunc sed neque. Stuff mah nizzle dolor fizzle black, consectetizzle fo shizzle elizzle. Maecenas izzle shiz. In da bomb. Vestibulizzle fo shizzle erizzle vitae gangsta gangster dictizzle. fizzle gangsta dang ma nizzle nibh. Yo mamma commodo. Pizzle eu ante izzle neque lacinia shizznit. Aenizzle nizzle massa id urna fo shizzle my nizzle lobortizzle. Boofron enizzle est, bibendizzle pulvinar, ornare cool, imperdiet vitae, lacizzle. Ass egizzle diam izzle massa adipiscing shut the shizzle up. Curabitizzle izzle gangsta quizzle tellizzle ornare nonummy.
      </p>
    </div>
  </div>
</div>
>>>>>>> 4b122b13af90dbd36e029a2eb641babd4828b505
