<div class="jumbotron">
  <div class="container">

<h1>Emilie</h1>

<%= image_tag 'emilie.jpg', class: 'circle pull-right'%>

<p>Creating meaningful products that are functional, informative, and aesthetically pleasing while fueling my passion for learning new things keeps me on the cutting edge of new technologies in web development. My ability to adapt, along with my leadership skills and my aptitude as a strong team player coupled with several years’ experience in sales and marketing ensure that I can create web projects that close the gap between consumers and companies. Having a well-rounded personality is important to being successful and happy. While I find much satisfaction from the creativity behind my work as a web developer, I round out that happiness by working on art projects, pulling weeds from my garden or cuddling with my cat and dog.</p>
  </div>
</div>