<!DOCTYPE html>
<html>
<head>
	<title>Gus's Page</title>
</head>
<body>
	<h1>What's All the Gus About?</h1>
		<p>Hey there. My name's Gus. I am tall. I am wide. I enjoy rugby, fitness, junk food/eating, cooking shows, exploring/new experiences, and looking at cool wall-papers on Google Images.</p>
</body>
</html>