
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <a href="/drew" class="thumbnail">
        <%=image_tag("sockmonkey.jpg") %>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">  
      <a href="/emilie" class="thumbnail">
        <%=image_tag("sockmonkey.jpg") %>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/gus" class="thumbnail">
        <%=image_tag("sockmonkey.jpg") %>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="/paul" class="thumbnail">
        <%=image_tag("sockmonkey.jpg") %>
      </a>
    </div>
    </div>
  </div>
</div>

