<h1>Paul Calabrese</h1>

<%= image_tag 'Paul_Calabrese.jpg' %>

<ul>
  <li> Sophisticated connoisseur of forward thinking hip hop. </li>
  <li> Man of the people. </li>
  <li> Free Skier</li>
  <li> Disgruntled Bulls fan - currently not purchasing Merch until the front office starts making some moves to build a contending team for the future.  </li>
</ul>
