// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.circle{
  width: 150px;
  height: 150px;
  border-radius: 75px;
}