
@import url(https://fonts.googleapis.com/css?family=Monofett);
@import url(https://fonts.googleapis.com/css?family=Oswald);


.paul-img {
  height: 200px;
  width: 250px;
  margin: 0px 0px 10px 43%;
  border-radius: 50%;
}

.paul-h1 {
  text-align: center;
  font-family: Monofett;
  font-size: 100px;
  color: blue;
}

.paul-about {
 margin: 0px 10px 0px 100px;
 color:blue;
 font-family:Oswald;
 font-size:30px;
}

.paul-body {
  background-image: url('http://i694.photobucket.com/albums/vv309/pacalabre/blurred_lines.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:fixed;

}



.circle{
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.drew-image {
  margin-top: 15px;
  border-radius: 50%;
  border: solid 1px lightgray;
  width: 70%;
}

.drew-image:hover {
    opacity:0.5;
  }

  .drew-content {
    margin-top: 20px;
  }

#container {
	background-image: url("Thisone.jpg");
	height: 500px;
}



p {
	color: white;
}


